<div class="flex justify-center">
    {{ with resources.GetMatch "img/suasicon.png" }}
      <img src="{{ .RelPermalink }}" alt="Team Photo" class="w-full rounded-md">
    {{ end }}
</div>


{{ $teamimage := "img/team.jpg"}}

<div style="background-color: rgba(220, 240, 255, 0); display: flex; flex-wrap: wrap; gap: 2rem; align-items: center; margin: 2rem 0; padding : 10px ;border-radius: 10px;" align = "center">
  {{ with resources.GetMatch $teamimage}}
  <img src="{{ .RelPermalink }}" alt="Team Photo" style="max-width: 400px; width: 100%; border-radius: 12px;">
  {{ end }}

  <div class="flex-1">
    <h2 class="font-bold text-2xl">About UMBC SUAS</h2>
    <p>
      Gita XI-12 is an advanced fixed-wing autonomous unmanned aerial vehicle (UAV) designed for high performance in the 2025 SUAS competition.
      This competition focuses on innovation and teamwork, with sensitivity studies conducted to optimize its flight strategy and aircraft construction.
      The aircraft features a lightweight yet robust design: an 8-foot high wing crafted from composite materials including epoxy, carbon fiber,
      and kevlar; a rectangular fuselage made of foam boards housing essential systems like the dropping mechanism and landing gear; and a telescoped carbon fiber tube providing structural integrity for the plane
      Our team's objective is to achieve this goal with our first participation in SUAS 2025.
    </p>
  </div>
  <p>
    As an institution without dedicated aerospace or robotics departments, we aim to foster learning and enthusiasm for autonomous aviation while scoring at least 60% in the competition.
    With limited knowledge and resources, we focus on building a reliable aircraft through rigorous testing of core components, including wing strength, electronic reliability, and structural integrity.
    Pre-flight checks are conducted meticulously to ensure safety and success every time we take to the skies.
  </p>

</div>


<h2 class="text-center font-bold text-2xl">Meet the Team</h2>

<ul class="text-center">
  <li>Alvin Jecinta</li>
  <li>Ben Bazarsuren</li>
  <li>Connor Morris</li>
  <li>Gabriel Farmer</li>
  <li>Jonah Malcom</li>
  <li>Kai Murella</li>
  <li>Kamil Izuagie</li>
  <li>Mario Smith</li>
  <li>Murali Indukuri</li>
  <li>Nebiyu Mammo</li>
  <li>Nowrin Chowdhury</li>
  <li>Pranav Bonagiri</li>
  <li>Shrikant Bhatnagar</li>
  <li>Turibius Rozario</li>
  <li>Willaim Vandenburg</li>
</ul>



